################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APis/bin/Debug/net8.0
/APis/obj
/Core/bin/Debug/net8.0
/Core/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
/obj
*.json
